* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: lightgray;
}

.navbar {
    display: flex;
    background-color: white;
    width: 100vw; 
    height: 40px;
    align-items: center;
    padding: 0 20px; 
    box-sizing: border-box; 
}

.links-container {
    display: flex;
    gap: 20px; 
    margin: 0 auto; 
}

.links {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.trade {
    font-size: 20px;
    font-weight: bold;
}

.navbar button {
    margin-left: auto; 
    padding: 5px 15px;
    background-color: #ffffff;
    color: rgb(6, 6, 6);
    outline: 1px black;
    border-radius: 5px;
    cursor: pointer;
}
/* ----------------------------------------------------------*/
.navbar2 {
    display: flex;
    background-color: white;
    width: 100vw; 
    height: 40px;
    align-items: center;
    padding: 0 20px; 
    box-sizing: border-box; 
    justify-content: space-between;
}
.trade2 {
    font-size: 20px;
    font-weight: bold;
}
.links-container2 {
    display: flex;
    gap: 20px; 
    align-items: center;
}
.navbar2 button {
    margin-left: auto; 
    padding: 5px 15px;
    background-color: #ffffff;
    color: rgb(6, 6, 6);
    outline: 1px black;
    border-radius: 5px;
    cursor: pointer;
}
/* ----------------------------------------------------------*/
.navbar3 {
    display: flex;
    background: white;
    height: 40px;
    justify-content: space-between;
}
.links-container3 {
    display: flex;
    gap: 20px;
    align-items: center;
}
.button-container3 {
    display: flex;
    gap: 20px;
    align-items: center;
}
.trade3 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.button-container3 button {
    margin-left: auto; 
    padding: 5px 15px;
    background-color: #ffffff;
    color: rgb(6, 6, 6);
    outline: 1px black;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}
